body {
  padding: 0;
  margin: 0;
}

form {
  max-width: 25em;
  margin: 1em auto;
}
.todolist {
  background: #fff;
  border-left: 4px solid #f97300;
  padding: 1em;
  margin: 1em auto;
  color: #666;
}
